* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: system-ui;
  line-height: 1.5;
}


img,svg,video,picture {
  pointer-events: none;
  max-width: 100%;
  display: block;
}


main {
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 10px;
}

h1 {
  text-align: center;
  padding: 1rem;
}
