* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background-color: whitesmoke;
}
main {
  margin: auto;
  margin-block: 5rem;
  padding-block-end: 10px;
  background-color: var(--light-gray);
  border-radius: 10px;
}
h1{text-align: center;}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}


.gallery-item img {
  pointer-events: none;
  display: block;
  max-width: 100%;
  height: auto;
}
